.auth-heading {
  text-align: center;
  font-family: var(--main-font);
}

.auth-heading__title {
  font-size: clamp(2.2rem, 5.2vw, 3.4rem);
  font-weight: 800;
  line-height: 0.95;
  color: var(--white);
}

.auth-heading__subtitle {
  font-size: clamp(1.05rem, 3vw, 1.7rem);
  line-height: 1.35;
  font-weight: 700;
  color: var(--white);
}
