@font-face {
  font-family: "Matcha-Cif";
  src: url(../src/fonts/Matcha-Cih.ttf) format("truetype");
}
:root {
  --mascot-font: "Matcha-Cif", sans-serif;
  --main-font: Poopins, inter, sans-serif;
  
  --mascot-color: #0E0626;
  --background-color: #2F3136;
  --cards-color: #444850;
  --navigation-color: #3A3D43;

  --green: #0CC594;
  --blue: #0A8AE6;
  --purple: #A980FF;
  --orange: #FF7F3A;
  --yellow: #FFB700;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: white;
}


/* Header */
header {
  background-color: var(--green);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}


