:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e0e0e0;
  background-color: #34495e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


/* Header */
header {
  background-color: #2c3e50;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* Layout */
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main p {
  font-size: 1.2rem;
}

main img {
  display: block;
  margin: 1rem 0;
  border-radius: 8px;
}

.img-small {
  width: 100px;
}

.img-medium {
  width: 200px;
}

main h2 {
  margin-top: 2rem;
}

main h3 {
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

